
.parcel-cache/data.mdb
.parcel-cache/lock.mdb
dist/index.5f1df611.css
dist/index.5f1df611.css.map
dist/index.b4b6dfad.js
dist/index.b4b6dfad.js.map
dist/index.html
dist/IndieFilms all of the films worth watching.a20b4866.svg
.parcel-cache/4e576e332d817d99
.parcel-cache/8eb8d6019dc77095.txt
.parcel-cache/a384f0ec43b99fbc
.parcel-cache/a7212473dce0d202
.parcel-cache/d2ee1adb323b65d6
node_modules
