
.font-link {
  font-family: Montserrat;
}
$color: Maroon;

.my-flix {
  color:Maroon;

 
}

$primary:#ffb6c1;
$body-bg:#95ccba;
$warning:#f2cc84;
$danger: #b21111;





@import '~bootstrap/scss/bootstrap.scss';